.header {
    background-color: rgb(255, 255, 255, 0.5);
    box-shadow: 0px 15px 35px rgb(0, 0, 0, 0.5);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.header nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header nav a {
    padding: 1em;
    color: black;
    transition: 0.4s ease-in-out;
    transform: scale(1);
}

.header nav a:hover {
    background-color: black;
    border-radius: 5px 5px;
    color: white;
    -webkit-border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
    -ms-border-radius: 5px 5px;
    -o-border-radius: 5px 5px;
    transform: scale(1.03);
}